<section class="list-container">
  <div class="user-list">
    <% @users.each do |user| %>
    <div class="user-container-index">
      <div class="img-user">
        <img src='<%= user.photo %>' alt='user-picture'>
      </div>
      <div class="user-info">
        <p class="user-name">
          <%= link_to user.name, user_path(id: user.id) %>
        </p>
        <p class="user-numbers">Number of Posts: <%= user.posts_counter || 0 %></p>
      </div>
  </div>
  <% end %>
</section>